{% extends 'base.html.twig' %}

{% block title %}Craftscity | Индивидуальная разработка Фоторамок, Изготовление визуализация и разработка изделий из дерева, Семейные фоторамки и деревья. Свадебные хештеги и семейные герба. Аксессуары для фотосессий.{% endblock %}

{% block body %}
    <div id="main">
        <div>
            <img id="background" src="{{ asset('/assets/www16.jpg') }}" alt="background">
        </div>
        <a class="el table" href="{{ path('products_list') }}"></a>
        <a class="el game" href="{{ path('products_list') }}"></a>
        <a class="el frame" href="{{ path('products_list') }}"></a>
        <a class="el frame2" href="{{ path('products_list') }}"></a>
        <a class="el shelf" href="{{ path('products_list') }}"></a>
        <a class="el shelves" href="{{ path('products_list') }}"></a>
        <a class="el statue" href="{{ path('products_list') }}"></a>
        <a class="el mirror" href="https://www.fusiondom.ru"></a>
        <a class="el clock" href="http://www.dim-time.ru"></a>
        <a class="el toy" href="{{ path('products_list') }}"></a>
    </div>
{% endblock %}


{#{% block navigation %}#}
    {#yo yo, custom text here!#}
{#{% endblock %}#}


{#{% block custom_block %}#}
    {#some other awesome text!#}
{#{% endblock %}#}