{% extends 'base.html.twig' %}

{% block title %}Craftscity{% endblock %}

{% block body %}
    <div>
        <img id="background" src="{{ asset('/assets/www16.jpg') }}" alt="background">
    </div>
    <a class="table" href="{{ path('products_list') }}"></a>
    <a class="game" href="{{ path('products_list') }}"></a>
    <a class="frame" href="{{ path('products_list') }}"></a>
    <a class="frame2" href="{{ path('products_list') }}"></a>
    <a class="shelf" href="{{ path('products_list') }}"></a>
    <a class="shelves" href="{{ path('products_list') }}"></a>
    <a class="clock" href="http://www.dim-time.ru"></a>
    <a class="statue" href="{{ path('products_list') }}"></a>
    <a class="toy" href="{{ path('products_list') }}"></a>
    <a class="mirror" href="https://www.fusiondom.ru"></a>
{% endblock %}
