{% extends 'base.html.twig' %}

{% block title %}{{ product.title }}{% endblock %}
{% block head %}

{% endblock %}
{% block body %}
    <h1>{{ product.title }}</h1>
    <div class="container">
        <div class="product_image_wrapper">
            <img class="product_image" src="/uploads/images/products/{{ product.image }}" alt="Image of {{ product.title }}">
        </div>
        <hr>
        <p class="product_description">{{ product.description }}</p>
        <hr>
    </div>

{% endblock %}